apache-airflow-providers-airbyte
apache-airflow-providers-amazon
apache-airflow-providers-apache-hdfs
apache-airflow-providers-apache-hive
apache-airflow-providers-apache-iceberg
apache-airflow-providers-apache-kafka
apache-airflow-providers-apache-spark
apache-airflow-providers-atlassian-jira
apache-airflow-providers-celery
apache-airflow-providers-cncf-kubernetes
apache-airflow-providers-common-io
apache-airflow-providers-common-sql
apache-airflow-providers-docker
apache-airflow-providers-elasticsearch
apache-airflow-providers-fab
apache-airflow-providers-grpc
apache-airflow-providers-influxdb
apache-airflow-providers-jdbc
apache-airflow-providers-microsoft-mssql
apache-airflow-providers-mongo
apache-airflow-providers-odbc
apache-airflow-providers-openlineage
apache-airflow-providers-oracle
apache-airflow-providers-postgres
apache-airflow-providers-redis
apache-airflow-providers-sendgrid
apache-airflow-providers-sftp
apache-airflow-providers-smtp
apache-airflow-providers-sqlite
apache-airflow-providers-ssh
apache-airflow-providers-trino

ldap3
python-ldap
sasl
virtualenv
statsd
pydantic