apache-airflow[airbyte]
apache-airflow[amazon]
apache-airflow[apache-hdfs]
apache-airflow[apache-hive]
apache-airflow[apache-iceberg]
apache-airflow[apache-kafka]
apache-airflow[apache-spark]
apache-airflow[apache-webhdfs]
apache-airflow[atlassian-jira]
apache-airflow[celery]
apache-airflow[common-compact]
apache-airflow[common-io]
apache-airflow[common-sql]
apache-airflow[docker]
apache-airflow[elasticsearch]
apache-airflow[grpc]
apache-airflow[hashicorop]
apache-airflow[influxdb]
apache-airflow[jdbc]
apache-airflow[kerberos]
apache-airflow[microsoft-mssql]
apache-airflow[mongo]
apache-airflow[odbc]
apache-airflow[openlineage]
apache-airflow[oracle]
apache-airflow[postgres]
apache-airflow[redis]
apache-airflow[sendgrid]
apache-airflow[sftp]
apache-airflow[smtp]
apache-airflow[sqlite]
apache-airflow[ssh]
apache-airflow[trino]

ldap3
python-ldap
sasl
virtualenv
statsd